header {
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.nav-header {
  position: relative;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: center;
  display: flex;
  width: 100%;


  .logo {
    background-color: #A31D1D;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    letter-spacing: 0.1rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    color: white;
  }

  .nav-right-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;

    .nav-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      border: 1px solid white;
      border-radius: 0.4rem;
      padding: 0.5rem;
      min-width: 150px;
      z-index: 1000;
      background-color: black;

      button {
        margin: 0 auto;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 0.4rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;

      }
    }
  }

  .user-profile-btn {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: 0;

    img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
    }
  }
}

.logo-img {
  height: 1.8rem;
  width: 1.8rem;
  transform: rotate(-10deg);
}
