<app-navbar></app-navbar>

<section class="container w-10/12 mx-auto rounded-lg bg-[#001C30] my-8 p-5">
    <h1 class="font-bold">open sesame</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae rerum perferendis ab tempore, in nobis sequi assumenda! Dignissimos, molestiae quidem.</p>
    <button class="p-2 bg-blue-900 text-white rounded-lg text-sm my-5">Add new Site</button>

    <!--form -->


    <div *ngIf="isSuccess" class="p-5 my.3 bg-teal-100 text-teal-950">
        {{ succesMessage }}
    </div>



    <!--     <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="w-full flex flex-col items-center">

        <h2 class="text-lg font-semibold">{{ formState }} site</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, animi!</p>

        <div class="w-8/12  mx-auto flex-col flex  ">
            <label>Site Name</label>

            <input [(ngModel)]="siteName" type="text" name="siteName" class="border-2 border-black">

            <label>Site URL</label>

            <input [(ngModel)]="siteUrl" type="text" name="siteUrl" class="border-2 border-black">

            <label>Image URL</label>

            <input [(ngModel)]="imageUrl" type="text" name="imageUrl" class="border-2 border-black">

        </div>

        <div class="flex justify-between gap-20">

            <button type="submit" class="p-2 bg-blue-900 text-white rounded-lg text-sm my-5">{{ formState }}Site</button>

            <button class="p-2 bg-red-600 text-white rounded-lg text-sm my-5">cancel</button>

        </div>
    </form> -->

    <!--grid of sites-->


    <div class="grid grid-cols-4 gap-5">
        <div *ngFor="let site of allSites | async" class="shadow-lg border-2 border-gray-900 pb-5">
            <img [src]="site.imageUrl" alt="godady">

            <h3 class="font-bold">{{ site.siteName }}</h3>

            <div class="w-60 m-3 bg-blue-100 text-blue-950 text-sm rounded-lg">
                {{ site.siteUrl }}
            </div>

            <button routerLink="/password-list" [queryParams]="{id: site.id, siteName: site.siteName, url: site.siteUrl, img: site.imageUrl}" class="rounded-lg p-2 bg-blue-950 text-white">add new password</button>

            <button (click)="editSite(site.siteName, site.siteUrl, site.imageUrl, site.id)" class="rounded-lg p-2 bg-green-400 text-white">edit</button>

            <button (click)="deleteSite(site.id)" class="rounded-lg p-2 bg-red-700 text-white">delete</button>

        </div>

    </div>

</section>