<app-navbar></app-navbar>

<section class="container w-10/12 mx-auto  my-28 py-5 pb-20 px-10">
    <h1 class="font-bold text-3xl text-white">open sesame</h1>
    <p class="my-2 text-gray-400">Introducing Open Sesame, the ultimate web app for secure password management. With Open Sesame, you can easily store and access all your passwords in one place, ensuring they are encrypted and visible only to you. Say goodbye to the hassle of remembering
        multiple passwords for various websites.
        <br><br> Simply save your favorite sites along with their corresponding usernames and passwords within the app. Enjoy peace of mind knowing that your valuable digital information is securely protected by Open Sesame, making password management
        effortless and secure.</p>
    <button class="p-2 bg-teal-500 text-white rounded-lg text-sm my-5">Add new Site  </button>



    <!--form -->


    <div *ngIf="isSuccess" class="p-5 my.3 bg-teal-100 text-teal-950">
        {{ succesMessage }}
    </div>



    <!--    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="w-full flex flex-col items-center">

        <h2 class="text-lg font-semibold">{{ formState }} site</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, animi!</p>

        <div class="w-8/12  mx-auto flex-col flex  ">
            <label>Site Name</label>

            <input [(ngModel)]="siteName" type="text" name="siteName" class="border-2 border-black">

            <label>Site URL</label>

            <input [(ngModel)]="siteUrl" type="text" name="siteUrl" class="border-2 border-black">

            <label>Image URL</label>

            <input [(ngModel)]="imageUrl" type="text" name="imageUrl" class="border-2 border-black">

        </div>

        <div class="flex justify-between gap-20">

            <button type="submit" class="p-2 bg-blue-900 text-white rounded-lg text-sm my-5">{{ formState }}Site</button>

            <button class="p-2 bg-red-600 text-white rounded-lg text-sm my-5">cancel</button>

        </div>
    </form> -->

    <!--grid of sites-->

    <div class="mt-10 border-t-2 border-slate-500 pt-10">

        <h1 class="font-bold text-3xl text-white mt-2">🚀 Saved Websites</h1>

        <div class="flex items-center mt-8 ml-5">
            <small class="flex items-center gap-2 text-white font-semibold"><div class="h-2 w-2 bg-blue-400 rounded-full"></div>Saved: <span class="text-gray-600">3</span></small>
        </div>

        <div class="grid grid-cols-4 gap-5 mt-10">
            <div *ngFor="let site of allSites | async" class="shadow-xl rounded-lg pb-5 bg-[#001C30] hover:cursor-pointer hover:scale-105 duration-200 transition-all">
                <img [src]="site.imageUrl" alt="godady" class="rounded-t-lg h-[40%] w-full">

                <h3 class="font-bold m-4 text-white">{{ site.siteName }}</h3>

                <div class="m-3 pl-2 p-1 w-4/6 bg-blue-200 text-blue-950 text-sm rounded-lg">
                    {{ site.siteUrl }}
                </div>

                <div class="flex flex-col p-5 gap-5">

                    <div class="flex gap-3">
                        <button (click)="editSite(site.siteName, site.siteUrl, site.imageUrl, site.id)" class="rounded-lg p-2 bg-green-600 text-white hover:bg-green-800">Edit</button>

                        <button (click)="deleteSite(site.id)" class="rounded-lg p-2 bg-red-700  hover:bg-red-900 text-white">Delete</button>
                    </div>

                    <button routerLink="/password-list" [queryParams]="{id: site.id, siteName: site.siteName, url: site.siteUrl, img: site.imageUrl}" class="rounded-lg p-2 bg-blue-700 text-white hover:bg-blue-900 bg-transparent border-2 border-blue-200">Add new password</button>
                </div>

            </div>

        </div>
    </div>

</section>