<nav class=" h-16 bg-[#001C30] w-screen fixed top-0 border-b-2 border-black">
    <div class="relative flex justify-between px-36 items-center py-3">
        <h3 class="font-bold text-xl text-white">Open sesame</h3>

        <div class="flex gap-8 items-center">

            <input type="search" placeholder="search.." class="p-2 rounded-lg border-none bg-[#080202] placeholder-teal-700">

            <img src="https://www.bleepstatic.com/content/hl-images/2022/02/14/kali-bright.jpg" alt="profile" class="rounded-full h-10 w-10 object-cover border-2 border-[#64CCC5] cursor-pointer hover:scale-105 duration-200 transition-all">
            <button routerLink="/" class="bg-red-400 rounded-lg text-white py-1 px-2 item hover:bg-red-600 duration-200 transition-all">Log out</button>
        </div>
    </div>
</nav>