.main-hero {
  display: flex;
  margin-top: 25%;

  h2 {
    position: absolute;
    padding-left: 5rem;
    top: 25%;
    color: white;
    z-index: 100;
    width: 40%;
    font-size: 45px;
    letter-spacing: 2px;
    transition: all 0.2s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    transform: translateY(0);
    opacity: 1;

    &.title-changing {
      transform: translateY(10px);
      opacity: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 5rem;
      width: 0;
      height: 3px;
      background-color: #A31D1D;
      transition: width 0.1s ease;
    }

    &:not(.title-changing)::after {
      width: 10rem;
    }
  }

  img {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    transition: opacity 0.8s ease;
    opacity: 1;

    &.fade-out {
      opacity: 0;
    }
  }

  .banner-shadow {
    width: 100vw;
    position: absolute;
    left: 0;
    padding: 10rem 5rem 5rem;
    gap: 1.8rem;
    flex-wrap: wrap;
    display: flex;
    background: linear-gradient(to top, #000 70%, transparent 100%);
    z-index: 100;
  }
}
