<main class="main-hero">
  @if (movies()) {
    <img [src]="selectedMovieBanner()" alt="" [class.fade-out]="isChanging()" />
    <div class="banner-shadow">
      @for (movie of movies().slice(0, 7); track movie.id) {
        <app-movie-card
          title="{{ movie.title }}"
          filmBanner="{{ movie.backdrop_path }}"
          (selected)="onMovieSelected($event)"
        />
      }
      <app-popular />
    </div>
    <h2 [class.title-changing]="isTitleChanging()">
      {{ selectedMovieTitle() }}
    </h2>
  }
</main>
