<main class="main-hero">
  <h2 [class.title-changing]="isTitleChanging()">
    {{ selectedMovieTitle() }}
  </h2>
  <div class="des" [class.title-changing]="isTitleChanging()">
    <div class="vote">
      <i class="bx bx-star"></i>
      <span [class.title-changing]="isTitleChanging()">{{
        selectedMovieVote()
      }}</span>
    </div>
    <p>{{ selectedMovieOverview() }}</p>
  </div>

  @if (movies()) {
    <img [src]="selectedMovieBanner()" alt="" [class.fade-out]="isChanging()" />
    <div class="banner-shadow">
      @for (movie of movies().slice(0, 7); track movie.id) {
        <app-movie-card
          title="{{ movie.title }}"
          filmBanner="{{ movie.backdrop_path }}"
          overview="{{ movie.overview }}"
          vote="{{ movie.vote_average }}"
          (selected)="onMovieSelected($event)"
        />
      }
      <app-popular />
    </div>
  }
</main>
