<header>
  <nav class="nav-header">
    <p>Filmosys</p>
    <div>
      @if (isLoggedIn) {
        <ng-container>
          <div class="nav-right-section">
            <input type="search" />

            <button class="user-profile-btn" (click)="dropDown()">
              <img src="{{ pic }}" alt="{{ userName }}" />
            </button>

            @if (dropdown) {
              <div class="nav-dropdown">
                <button (click)="logout()">Logout</button>
              </div>
            }
          </div>
        </ng-container>
      } @else {
        <ng-template>
          <button (click)="login()">Login</button>
        </ng-template>
      }
    </div>
  </nav>
</header>
