header {
  position: fixed;
  width: 100vw;
}

.nav-header {
  position: relative;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;

  .nav-right-section {
    display: flex;
    align-items: center;
  }

  .user-profile-btn {
    background-color: transparent;
    outline: none;
    border: 0;

    img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
    }
  }
}
