<div *ngIf="isSuccess" class="p-5 my-3 bg-teal-100 text-teal-950">
    {{ succesMessage }}
</div>

<div class="container mx-auto my-16">
    <div class="grid grid-cols-2 gap-5">

        <div class="shadow-lg border-2 border-black">
            <img [src]="imageUrl" alt="">
            <h3 class="text-xl font-bold p-3">{{siteName}}</h3>
            <div class="grid grid-cols-3 gap-3 my-1 p-3">
                <div class="col-span-2 px-3 bg-blue-200">
                    {{siteUrl}}
                </div>
            </div>
        </div>

        <div class="px-20 py-10 mb-10 my-5 border-2 border-black">
            <h1 class="text-xl text-center">{{ formState}} user & password</h1>
            <p class="text-center">you can {{ formState}} password below</p>

            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">email</label>

                    <input [(ngModel)]="email" name="email" type="email" class="border-2 border-gray-900 rounded-lg">

                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">username</label>
                    <input [(ngModel)]="username" name="username" type="text" class="border-2 border-gray-900 rounded-lg">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium mb-2">password</label>
                    <input [(ngModel)]="password" name="password" type="password" class="border-2 border-gray-900 rounded-lg">
                </div>

                <button class="bg-black text-white rounded-lg p-2">{{ formState}} password</button>

            </form>
        </div>

    </div>

    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900">Email</th>
                    <th class="border-2 border-gray-900">Username</th>
                    <th class="border-2 border-gray-900">Password</th>
                    <th class="border-2 border-gray-900">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor="let password of passwordList; let i = index">
                    <td class="border-2 border-gray-900 p-3">{{ password.email}}</td>
                    <td class="border-2 border-gray-900 p-3">{{ password.username}}</td>
                    <td class="border-2 border-gray-900 p-3">
                        {{ password.password}}
                        <button (click)="onDecrypt(password.password, i)" class="rounded-lg bg-red-400 text-white text-sm">decrypt</button>
                    </td>
                    <td class="border-2 border-gray-900 p-3">
                        <button (click)="editPassword(password.email, password.password, password.username, password.id)" class="p-2 rounded-lg bg-green-400 text-white">edit</button>


                        <button (click)="deletePassword(password.id)" class="p-2 rounded-lg bg-red-400 text-white">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>