.main-hero {
  display: flex;
  margin-top: 20%;

  img {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .banner-shadow {
    width: 100vw;
    position: absolute;
    left: 0;
    padding: 10rem 5rem;
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
    background: linear-gradient(to top, #000 70%, transparent 100%);
    height: 100vh !important;
    z-index: 100;
  }
}
